ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

header {
    padding-left: 0!important;
}

.logo {
    background-color: skyblue;
}

.logo img {
    /* width: 100%; */
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.logo span {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.nav ul li a {
    display: block;
    font-size: 16px;
    padding-left: 30px;
    line-height: 50px;
}

.nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

.nav ul li a::before {
    vertical-align: middle;
    padding-right: 5px;
}

.news ul li {
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.news ul li:first-child {
    width: 50%;
    height: 266px;
}

.news ul li:first-child a p {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.news ul li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.news ul li a img {
    width: 100%;
    height: 100%;
}

.news ul li a p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 0 10px;
    margin-bottom: 0;
}

.publish {
    border-top: 1px solid #ccc;
}

.publish .row {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.pic {
    margin-top: 10px;
}

.pic img {
    width: 100%
}

aside a img {
    width: 100%;
}

.hot {
    margin-top: 20px;
    padding: 0 20px 20px;
    display: block;
    border: 1px solid #ccc;
}

.hot p {
    font-size: 12px;
}

.hot span {
    border-radius: 0;
    margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
    .nav ul li {
        float: left;
        width: 20%;
    }
    article {
        margin-top: 10px;
    }
    .news ul li:first-child {
        width: 100%;
    }
    .news ul li {
        width: 50%;
    }
    .publish h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .nav ul li a {
        font-size: 14px;
        padding-left: 10px;
    }
}